<div class="jumbotron">
    <h1>iPOS Tab API</h1>
    <p class="lead">Version 1.20190201.1330.NOR</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input class="form-control" id="inpSearchUsername" placeholder="Search..." />
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addUserModal" onclick="btnAddUserOnclick()">
                    <i class="glyphicon glyphicon-plus"></i> Add User
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="userFlexGrid" style="max-height: 400px;"></div>
    </div>
</div>

<div id="addUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Username:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="Enter Username">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveUser" onclick="btnSaveUserOnclick()"><i class="glyphicon glyphicon-ok"></i> Save</button>
                <button type="button" class="btn btn-danger" id="btnCloseUser" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDeleteConfirmUser" onclick="btnDeleteConfirmUserOnclick()"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                <button type="button" class="btn btn-default" id="btnCloseDeleteConfirmUser" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/wijmo")
<script>
    var userCollectionView;
    var userFlexGrid = new wijmo.grid.FlexGrid('#userFlexGrid');

    function btnAddUserOnclick() {
        document.getElementById('username').value = "";
    }

    function btnSaveUserOnclick() {
        document.getElementById('btnSaveUser').innerHTML = "<i class='glyphicon glyphicon-ok'></i> Saving...";
        $("#btnSaveUser").prop("disabled", true);
        $("#btnCloseUser").prop("disabled", true);

        var userObject = new Object();
        userObject.UserName = document.getElementById('username').value;
        var userData = JSON.stringify(userObject);

        $.ajax({
            type: "POST",
            url: '/api/Account/Register',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: userData,
            statusCode: {
                200: function () {
                    toastr.success("Save Successful");
                    $('#addUserModal').modal('hide');
                    createUserFlexGrid();

                    setTimeout(function () {
                        document.getElementById('btnSaveUser').innerHTML = "<i class='glyphicon glyphicon-ok'></i> Save";
                        $("#btnSaveUser").prop("disabled", false);
                        $("#btnCloseUser").prop("disabled", false);
                    }, 500);
                },
                404: function (message) {
                    if (message.responseJSON["ModelState"] != undefined) {
                        toastr.error(message.responseJSON["Message"] + " " + message.responseJSON["ModelState"][""], "Error 404");
                    } else {
                        toastr.error(message.responseJSON["Message"], "Error 404");
                    }

                    document.getElementById('btnSaveUser').innerHTML = "<i class='glyphicon glyphicon-ok'></i> Save";
                    $("#btnSaveUser").prop("disabled", false);
                    $("#btnCloseUser").prop("disabled", false);
                },
                400: function (message) {
                    if (message.responseJSON["ModelState"] != undefined) {
                        toastr.error(message.responseJSON["Message"] + " " + message.responseJSON["ModelState"][""], "Error 400");
                    } else {
                        toastr.error(message.responseJSON["Message"], "Error 404");
                    }

                    document.getElementById('btnSaveUser').innerHTML = "<i class='glyphicon glyphicon-ok'></i> Save";
                    $("#btnSaveUser").prop("disabled", false);
                    $("#btnCloseUser").prop("disabled", false);
                },
                500: function (message) {
                    if (message.responseJSON["ModelState"] != undefined) {
                        toastr.error(message.responseJSON["Message"] + " " + message.responseJSON["ModelState"][""], "Error 500");
                    } else {
                        toastr.error(message.responseJSON["Message"], "Error 404");
                    }

                    document.getElementById('btnSaveUser').innerHTML = "<i class='glyphicon glyphicon-ok'></i> Save";
                    $("#btnSaveUser").prop("disabled", false);
                    $("#btnCloseUser").prop("disabled", false);
                }
            }
        });
    }

    function getUserData() {
        var userObservableArray = new wijmo.collections.ObservableArray;
        $.ajax({
            url: '/api/posTab/users/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (results) {
                if (results.length > 0) {
                    for (i = 0; i < results.length; i++) {
                        userObservableArray.push({
                            BtnDelete: "<button class='btn btn-danger btn-xs btn-block' data-toggle='modal' data-target='#deleteUserModal'><i class='glyphicon glyphicon-trash'></i> Delete</button>",
                            UserId: results[i]["UserId"],
                            UserName: results[i]["UserName"]
                        });
                    }
                }
            }
        });

        return userObservableArray;
    }

    function createUserFlexGrid() {
        userCollectionView = new wijmo.collections.CollectionView(getUserData());
        userCollectionView.pageSize = 10;

        var filterText = '';
        $('#inpSearchUsername').keyup(function () {
            filterText = this.value.toLowerCase();
            userCollectionView.refresh();
        });

        userCollectionView.filter = function (item) {
            return !filterText || (item.UserName.toLowerCase().indexOf(filterText) > -1);
        }

        userFlexGrid.dispose();
        userFlexGrid = new wijmo.grid.FlexGrid('#userFlexGrid');
        userFlexGrid.initialize({
            columns: [
                {
                    "header": "Delete",
                    "binding": "BtnDelete",
                    "width": 70,
                    "align": "center",
                    "allowResizing": false,
                    "allowSorting": false,
                    "isContentHtml": true
                },
                {
                    "header": "Username",
                    "binding": "UserName",
                    "allowSorting": true,
                    "width": "1.5*"
                }
            ],
            autoGenerateColumns: false,
            itemsSource: userCollectionView,
            isReadOnly: true,
            autoSizeMode: wijmo.grid.AutoSizeMode.Both,
            allowDragging: wijmo.grid.AllowDragging.None,
            selectionMode: wijmo.grid.SelectionMode.Row
        });

        userFlexGrid.trackChanges = true;
    }

    function btnDeleteConfirmUserOnclick() {
        document.getElementById('btnDeleteConfirmUser').innerHTML = "<i class='glyphicon glyphicon-trash'></i> Deleting...";
        $("#btnDeleteConfirmUser").prop("disabled", true);
        $("#btnCloseDeleteConfirmUser").prop("disabled", true);

        userCollectionView.editItem(userCollectionView.currentItem);
        var currentUser = userCollectionView.currentEditItem;

        $.ajax({
            type: "DELETE",
            url: '/api/posTab/users/delete/' + currentUser.UserId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            statusCode: {
                200: function () {
                    toastr.success("Delete Successful");
                    $('#deleteUserModal').modal('hide');
                    createUserFlexGrid();

                    setTimeout(function () {
                        document.getElementById('btnDeleteConfirmUser').innerHTML = "<i class='glyphicon glyphicon-trash'></i> Delete";
                        $("#btnDeleteConfirmUser").prop("disabled", false);
                        $("#btnCloseDeleteConfirmUser").prop("disabled", false);
                    }, 500);
                },
                404: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 404");
                    document.getElementById('btnDeleteConfirmUser').innerHTML = "<i class='glyphicon glyphicon-trash'></i> Delete";
                    $("#btnDeleteConfirmUser").prop("disabled", false);
                    $("#btnCloseDeleteConfirmUser").prop("disabled", false);
                },
                400: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 400");
                    document.getElementById('btnDeleteConfirmUser').innerHTML = "<i class='glyphicon glyphicon-trash'></i> Delete";
                    $("#btnDeleteConfirmUser").prop("disabled", false);
                    $("#btnCloseDeleteConfirmUser").prop("disabled", false);
                },
                500: function (message) {
                    toastr.error(message.responseText.replace(/^"(.*)"$/, '$1'), "Error 500");
                    document.getElementById('btnDeleteConfirmUser').innerHTML = "<i class='glyphicon glyphicon-trash'></i> Delete";
                    $("#btnDeleteConfirmUser").prop("disabled", false);
                    $("#btnCloseDeleteConfirmUser").prop("disabled", false);
                }
            }
        });
    }

    window.onload = function () {
        createUserFlexGrid();
    };
</script>